processo-comercial-7dias/02-cadencias/n8n-asaas-quitacao-evento.json
{
  "name": "SST — Quitação 3: Registrar Evento + Notificar Karine",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "sst-quitacao-evento",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "qe000001-0001-0001-0001-100000000001",
      "name": "Webhook — Typebot evento",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "sst-quitacao-evento",
      "notes": "Recebe { evento, cpf, nome, valor_divida, valor_a_vista_50, escolha }. Rota: /webhook/sst-quitacao-evento. Eventos: recusou_inicio | cpf_nao_localizado | quer_negociar | nao_pode_agora."
    },
    {
      "parameters": {
        "jsCode": "// Normaliza o payload do Typebot e define se é lead QUENTE (precisa Karine)\nconst body = $input.first().json.body || $input.first().json;\n\nconst evento = String(body.evento || 'desconhecido');\nconst quentes = ['quer_negociar', 'cpf_nao_localizado'];\nconst ehQuente = quentes.includes(evento);\n\nreturn [{ json: {\n  evento,\n  ehQuente,\n  cpf: String(body.cpf || '').replace(/\\D/g, ''),\n  nome: body.nome || 'Cliente',\n  escolha: body.escolha || '',\n  valor_divida: body.valor_divida || '',\n  valor_a_vista_50: body.valor_a_vista_50 || '',\n  origem: body.origem || 'typebot-quitacao-pd',\n  data_iso: new Date().toISOString(),\n  data_br: new Date().toLocaleString('pt-BR', { timeZone: 'America/Sao_Paulo' })\n} }];"
      },
      "id": "qe000002-0002-0002-0002-100000000002",
      "name": "Classificar Evento",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300],
      "notes": "Define ehQuente=true para 'quer_negociar' e 'cpf_nao_localizado' (a Karine precisa agir). Normaliza CPF e datas."
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.notion.com/v1/pages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "=Bearer {{ $env.NOTION_TOKEN }}" },
            { "name": "Notion-Version", "value": "2022-06-28" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"parent\": { \"database_id\": \"{{ $env.NOTION_COBRANCA_DB_ID }}\" },\n  \"properties\": {\n    \"Nome\": { \"title\": [ { \"text\": { \"content\": {{ JSON.stringify($json.nome) }} } } ] },\n    \"CPF\": { \"rich_text\": [ { \"text\": { \"content\": {{ JSON.stringify($json.cpf) }} } } ] },\n    \"Evento\": { \"select\": { \"name\": {{ JSON.stringify($json.evento) }} } },\n    \"Origem\": { \"rich_text\": [ { \"text\": { \"content\": {{ JSON.stringify($json.origem) }} } } ] },\n    \"Valor Dívida\": { \"rich_text\": [ { \"text\": { \"content\": {{ JSON.stringify($json.valor_divida) }} } } ] }\n  }\n}",
        "options": {}
      },
      "id": "qe000003-0003-0003-0003-100000000003",
      "name": "Notion — Registrar Evento",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [700, 200],
      "notes": "Cria página no DB de cobrança do Notion. AJUSTAR os nomes das propriedades (Nome/CPF/Evento/Origem/Valor Dívida) conforme o schema real do seu database."
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "loose" },
          "conditions": [
            {
              "id": "cond-quente",
              "leftValue": "={{ $('Classificar Evento').first().json.ehQuente }}",
              "rightValue": true,
              "operator": { "type": "boolean", "operation": "true", "singleValue": true }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "qe000004-0004-0004-0004-100000000004",
      "name": "É Lead Quente?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [940, 200],
      "notes": "true = notifica Karine no WhatsApp | false = só fica registrado no Notion (nutrição/relatório)."
    },
    {
      "parameters": {
        "jsCode": "// Monta a mensagem de alerta para a Karine conforme o evento\nconst row = $('Classificar Evento').first().json;\n\nconst textos = {\n  quer_negociar: `🔥 LEAD QUENTE — Perdão de Dívida\\n\\n${row.nome} (CPF ${row.cpf}) escolheu *${row.escolha}*.\\nDívida: R$ ${row.valor_divida} | À vista 50%: R$ ${row.valor_a_vista_50}\\n\\n👉 Chamar agora para fechar a condição.`,\n  cpf_nao_localizado: `⚠️ Perdão de Dívida — CPF não localizado\\n\\nUm cliente tentou quitar mas o CPF ${row.cpf} não foi encontrado no Asaas.\\n\\n👉 Verificar cadastro (pode estar em outro nome) e chamar a pessoa.`\n};\n\nconst texto = textos[row.evento] || `Evento ${row.evento} — ${row.nome} (${row.cpf})`;\nreturn [{ json: { ...row, alerta: texto } }];"
      },
      "id": "qe000005-0005-0005-0005-100000000005",
      "name": "Montar Alerta Karine",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1180, 100],
      "notes": "Texto diferente para quer_negociar (fechar) e cpf_nao_localizado (verificar cadastro)."
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.EVOLUTION_API_URL }}/message/sendText/{{ $env.EVOLUTION_INSTANCE }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{ $env.EVOLUTION_API_KEY }}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"number\": \"{{ $env.KARINE_WHATSAPP }}\",\n  \"text\": {{ JSON.stringify($json.alerta) }},\n  \"delay\": 1000\n}",
        "options": {}
      },
      "id": "qe000006-0006-0006-0006-100000000006",
      "name": "WhatsApp — Notificar Karine",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1420, 100],
      "notes": "Envia o alerta para o WhatsApp da Karine (env KARINE_WHATSAPP no formato 5571XXXXXXXXX)."
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ ok: true }) }}",
        "options": {}
      },
      "id": "qe000007-0007-0007-0007-100000000007",
      "name": "Responder OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1420, 320],
      "notes": "Responde 200 ao Typebot (o Typebot não usa o corpo deste retorno, só precisa do ack)."
    }
  ],
  "connections": {
    "Webhook — Typebot evento": { "main": [[{ "node": "Classificar Evento", "type": "main", "index": 0 }]] },
    "Classificar Evento": { "main": [[{ "node": "Notion — Registrar Evento", "type": "main", "index": 0 }]] },
    "Notion — Registrar Evento": { "main": [[{ "node": "É Lead Quente?", "type": "main", "index": 0 }]] },
    "É Lead Quente?": {
      "main": [
        [{ "node": "Montar Alerta Karine", "type": "main", "index": 0 }],
        [{ "node": "Responder OK", "type": "main", "index": 0 }]
      ]
    },
    "Montar Alerta Karine": { "main": [[{ "node": "WhatsApp — Notificar Karine", "type": "main", "index": 0 }]] },
    "WhatsApp — Notificar Karine": { "main": [[{ "node": "Responder OK", "type": "main", "index": 0 }]] }
  },
  "active": false,
  "settings": { "executionOrder": "v1", "timezone": "America/Sao_Paulo", "maxExecutionTime": 60 },
  "versionId": "qe000000-ffff-ffff-ffff-100000000001",
  "id": "asaas-quitacao-evento-sst-v1",
  "meta": { "templateCredsSetupCompleted": true, "instanceId": "sst-clinica" },
  "tags": [ { "name": "sst" }, { "name": "perdao-divida" }, { "name": "quitacao" }, { "name": "crm" } ],
  "_setup_notes": {
    "objetivo": "Webhook 3 de 3 do Typebot de quitação. Registra TODO evento no Notion (auditoria/relatório) e notifica a Karine no WhatsApp APENAS nos leads quentes (quer_negociar, cpf_nao_localizado).",
    "rota": "POST {n8n}/webhook/sst-quitacao-evento",
    "entrada": "{ evento, cpf, nome, valor_divida, valor_a_vista_50, escolha, origem }",
    "saida": "{ ok: true }",
    "eventos_e_acao": {
      "quer_negociar": "QUENTE -> Notion + WhatsApp Karine (fechar parcelamento/reativação)",
      "cpf_nao_localizado": "QUENTE -> Notion + WhatsApp Karine (verificar cadastro)",
      "nao_pode_agora": "Notion apenas (entra na nutrição / lista de transmissão futura)",
      "recusou_inicio": "Notion apenas (registro estatístico)"
    },
    "variaveis_necessarias": [
      "NOTION_TOKEN — token da integração Notion",
      "NOTION_COBRANCA_DB_ID — ID do database de cobrança/eventos no Notion",
      "EVOLUTION_API_URL / EVOLUTION_API_KEY / EVOLUTION_INSTANCE — Evolution API WhatsApp",
      "KARINE_WHATSAPP — número da Karine (5571XXXXXXXXX, sem traços)"
    ],
    "ajustar_antes_de_ativar": [
      "Os nomes das propriedades no nó 'Notion — Registrar Evento' (Nome, CPF, Evento, Origem, Valor Dívida) DEVEM bater com o schema real do seu database. 'Evento' precisa ser do tipo Select com as 4 opções cadastradas, ou trocar para rich_text.",
      "Conferir Notion-Version (2022-06-28) — manter compatível com a API em uso no projeto."
    ],
    "como_testar": [
      "1. POST { evento:'quer_negociar', cpf:'12345678900', nome:'Teste', valor_divida:'129,80', valor_a_vista_50:'64,90', escolha:'Quero parcelar' }",
      "2. Conferir nova página no Notion + mensagem no WhatsApp da Karine",
      "3. POST { evento:'nao_pode_agora', ... } -> só registra no Notion, sem WhatsApp"
    ]
  }
}
