processo-comercial-7dias/02-cadencias/n8n-reativacao-cancelados.json
{
  "name": "SST — Reativação de Cancelados (D+0 / D+2 / D+5)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "sst-reativacao-iniciar",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "d1e2f3a4-0001-0001-0001-300000000001",
      "name": "Webhook — Karine Inicia Rodada",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [260, 200],
      "notes": "Karine acessa a URL deste webhook para iniciar uma nova rodada D+0. URL: n8n.clinicalucrativa.ia.br/webhook/sst-reativacao-iniciar"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 9 * * 1-6"
            }
          ]
        }
      },
      "id": "d1e2f3a4-0002-0002-0002-300000000002",
      "name": "Cron 9h — D+2 e D+5 Automático",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [260, 400],
      "notes": "Verifica diariamente quem está em D+2 ou D+5 e envia o follow-up automaticamente."
    },
    {
      "parameters": {
        "operation": "readAllRows",
        "documentId": {
          "value": "={{ $env.SHEETS_CANCELADOS_ID }}",
          "mode": "id"
        },
        "sheetName": {
          "value": "Cancelados",
          "mode": "name"
        },
        "options": { "headerRow": 1 }
      },
      "id": "d1e2f3a4-0003-0003-0003-300000000003",
      "name": "Ler Aba Cancelados",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.3,
      "position": [520, 200],
      "notes": "Lê todos os cancelados. Colunas obrigatórias descritas em _setup_notes."
    },
    {
      "parameters": {
        "operation": "readAllRows",
        "documentId": {
          "value": "={{ $env.SHEETS_CANCELADOS_ID }}",
          "mode": "id"
        },
        "sheetName": {
          "value": "Cancelados",
          "mode": "name"
        },
        "options": { "headerRow": 1 }
      },
      "id": "d1e2f3a4-0004-0004-0004-300000000004",
      "name": "Ler Aba Cancelados (cron)",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.3,
      "position": [520, 400]
    },
    {
      "parameters": {
        "jsCode": "// Filtrar cancelados elegíveis para D+0\n// Regras: não foram contactados ainda, não marcados como nao_retorna, não insatisfação\nconst hoje = new Date();\nhoje.setHours(0, 0, 0, 0);\n\nconst elegíveis = $input.all()\n  .filter(item => {\n    const r = item.json;\n    if (!r.whatsapp) return false;\n    if (r.nao_retorna === 'TRUE') return false;\n    if (r.motivo_cancelamento === 'insatisfacao') return false; // escalar para Rogério\n    if (r.D0_enviado) return false; // já recebeu D+0\n    if (!r.segmento_reativacao) return false; // Karine não segmentou ainda\n    return true;\n  })\n  .slice(0, 30); // máximo 30 por rodada\n\nconsole.log(`Elegíveis D+0: ${elegíveis.length}`);\nreturn elegíveis;"
      },
      "id": "d1e2f3a4-0005-0005-0005-300000000005",
      "name": "Filtrar D+0 Elegíveis",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [760, 200],
      "notes": "Máximo 30 por rodada. Ignora insatisfação (escalar Rogério) e quem não foi segmentado."
    },
    {
      "parameters": {
        "jsCode": "// Filtrar cancelados em D+2 ou D+5 para follow-up automático\nconst hoje = new Date();\nhoje.setHours(0, 0, 0, 0);\n\nconst diaEmDias = (dataStr) => {\n  if (!dataStr) return -1;\n  const d = new Date(dataStr);\n  d.setHours(0, 0, 0, 0);\n  return Math.floor((hoje - d) / (1000 * 60 * 60 * 24));\n};\n\nconst acoes = [];\n\nfor (const item of $input.all()) {\n  const r = item.json;\n  if (!r.whatsapp) continue;\n  if (r.nao_retorna === 'TRUE') continue;\n  if (r.reativado === 'TRUE') continue;\n\n  const diasD0 = diaEmDias(r.D0_enviado);\n\n  // D+2: tem D+0 enviado há 2+ dias e D2 ainda não enviado\n  if (diasD0 >= 2 && !r.D2_enviado) {\n    acoes.push({ ...r, fase: 'D2' });\n  }\n\n  // D+5: tem D+2 enviado há 3+ dias (D+5 do D+0) e D5 ainda não enviado\n  const diasD2 = diaEmDias(r.D2_enviado);\n  if (diasD2 >= 3 && !r.D5_enviado) {\n    acoes.push({ ...r, fase: 'D5' });\n  }\n\n  // D+7: marcar como frio se D5 foi há 2+ dias e não reativou\n  const diasD5 = diaEmDias(r.D5_enviado);\n  if (diasD5 >= 2 && !r.data_frio) {\n    acoes.push({ ...r, fase: 'MARCAR_FRIO' });\n  }\n}\n\nconsole.log(`Ações follow-up: ${acoes.length}`);\nreturn acoes.map(a => ({ json: a }));"
      },
      "id": "d1e2f3a4-0006-0006-0006-300000000006",
      "name": "Filtrar D+2 / D+5 / Frio",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [760, 400]
    },
    {
      "parameters": {
        "jsCode": "// Montar mensagem D+0 por segmento\nconst r = $input.first().json;\nconst nome = r.nome_membro || 'Cliente';\nconst seg = (r.segmento_reativacao || 'C').toUpperCase();\n\nconst mensagens = {\n  A: `Oi ${nome}! Aqui é a Karine da SST Card 😊\\n\\nFiquei sabendo que você saiu por conta do valor — entendo, o orçamento aperta mesmo.\\n\\nQuero te fazer uma proposta: a gente reformulou o SST Card. Agora por *R$39,90/mês* você e mais 3 da sua família têm acesso a consultas, laboratório e telemedicina. Quer que eu te mande os detalhes?`,\n\n  B: `Oi ${nome}! Saudade de você aqui na SST 😊\\n\\nSei que quando a gente está bem de saúde esquece de usar o cartão — mas é exatamente por isso que ele existe: pra cuidar antes de precisar de emergência.\\n\\nVocê sabia que consulta de rotina está incluída no seu plano? Posso te ajudar a agendar uma essa semana, sem custo adicional. Quer?`,\n\n  C: `Oi ${nome}! Aqui é a Karine da SST Card.\\n\\nNotei que você não está mais com a gente e queria saber como você está 😊 Tem alguma coisa que a gente podia ter feito diferente?\\n\\nEstamos com uma novidade boa: o SST Card agora inclui telemedicina + auxílio funeral + assistência veterinária pelo mesmo valor. Se quiser saber mais, é só me chamar!`\n};\n\nconst texto = mensagens[seg] || mensagens.C;\nreturn [{ json: { ...r, mensagem: texto, fase: 'D0' } }];"
      },
      "id": "d1e2f3a4-0007-0007-0007-300000000007",
      "name": "Montar Mensagem D+0 por Segmento",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1000, 200],
      "notes": "A = preço | B = falta de uso | C = sem motivo. Cada segmento tem ângulo diferente."
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": false, "typeValidation": "strict" },
          "conditions": [
            {
              "id": "cond-frio",
              "leftValue": "={{ $json.fase }}",
              "rightValue": "MARCAR_FRIO",
              "operator": { "type": "string", "operation": "notEquals" }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "d1e2f3a4-0008-0008-0008-300000000008",
      "name": "É Follow-up ou Marcar Frio?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1000, 400],
      "notes": "true = enviar D+2 ou D+5 | false = marcar como lead frio (D+7 sem resposta)"
    },
    {
      "parameters": {
        "jsCode": "// Montar mensagem de follow-up (D+2 ou D+5) por segmento\nconst r = $input.first().json;\nconst nome = r.nome_membro || 'Cliente';\nconst seg = (r.segmento_reativacao || 'C').toUpperCase();\nconst fase = r.fase; // 'D2' ou 'D5'\n\nconst mensagens = {\n  D2: {\n    A: `${nome}, você teve chance de pensar na proposta? 😊\\n\\nSó pra complementar: a taxa de adesão única é R$35 e o plano Individual de R$39,90 já inclui titular + 3 dependentes na saúde. Pix ou débito na clínica.\\n\\nPositivo, negativo ou qualquer dúvida — só me fala aqui.`,\n    B: `${nome}, só passando pra confirmar — você topa que eu reserve um horário de consulta essa semana? Sem compromisso, é parte do seu benefício.\\n\\nBasta me dizer qual dia fica melhor: manhã ou tarde?`,\n    C: `${nome}, ficou alguma dúvida sobre as novidades do SST Card?\\n\\nSe quiser, posso te mandar um resumo rápido de tudo que você teria acesso por R$39,90/mês. É literalmente R$1,33/dia pra sua família ter saúde de verdade.`\n  },\n  D5: {\n    A: `${nome}, última vez que te contato sobre o SST Card 😊 Só queria deixar claro: se um dia o orçamento melhorar, a porta está aberta. Não precisa pagar taxa de adesão novamente se voltar em até 90 dias.\\n\\nQualquer coisa, é só me chamar. Cuide-se!`,\n    B: `${nome}, vou deixar você em paz depois de hoje — prometo 😄 Mas antes: a gente tem uma consulta de saúde preventiva gratuita disponível para ex-membros esse mês. Posso reservar uma pra você?`,\n    C: `${nome}, encerrando por aqui. Se mudar de ideia sobre o SST Card, pode me chamar quando quiser. Valeu pelo tempo que esteve com a gente — foi um prazer te ter como membro!`\n  }\n};\n\nconst texto = (mensagens[fase] || {})[seg] || mensagens.D5.C;\nreturn [{ json: { ...r, mensagem: texto } }];"
      },
      "id": "d1e2f3a4-0009-0009-0009-300000000009",
      "name": "Montar Mensagem D+2 ou D+5",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1240, 340],
      "notes": "D+2: segundo toque com ângulo diferente. D+5: última tentativa, tom de encerramento."
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.EVOLUTION_API_URL }}/message/sendText/{{ $env.EVOLUTION_INSTANCE }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{ $env.EVOLUTION_API_KEY }}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"number\": \"{{ $json.whatsapp }}\",\n  \"text\": {{ JSON.stringify($json.mensagem) }},\n  \"delay\": 2000\n}",
        "options": {}
      },
      "id": "d1e2f3a4-0010-0010-0010-300000000010",
      "name": "Enviar WhatsApp D+0",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1240, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.EVOLUTION_API_URL }}/message/sendText/{{ $env.EVOLUTION_INSTANCE }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{ $env.EVOLUTION_API_KEY }}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"number\": \"{{ $json.whatsapp }}\",\n  \"text\": {{ JSON.stringify($json.mensagem) }},\n  \"delay\": 2000\n}",
        "options": {}
      },
      "id": "d1e2f3a4-0011-0011-0011-300000000011",
      "name": "Enviar WhatsApp D+2 ou D+5",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1480, 340]
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "value": "={{ $env.SHEETS_CANCELADOS_ID }}",
          "mode": "id"
        },
        "sheetName": {
          "value": "Cancelados",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "D0_enviado": "={{ new Date().toISOString().split('T')[0] }}",
            "fase_reativacao": "D0"
          },
          "matchingColumns": ["whatsapp"],
          "schema": []
        },
        "options": {}
      },
      "id": "d1e2f3a4-0012-0012-0012-300000000012",
      "name": "Atualizar Sheets D+0",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.3,
      "position": [1480, 200]
    },
    {
      "parameters": {
        "jsCode": "// Atualizar coluna correta conforme a fase enviada\nconst r = $input.first().json;\nconst hoje = new Date().toISOString().split('T')[0];\nconst fase = r.fase; // 'D2' ou 'D5'\n\nconst atualizacao = fase === 'D2'\n  ? { D2_enviado: hoje, fase_reativacao: 'D2' }\n  : { D5_enviado: hoje, fase_reativacao: 'D5' };\n\nreturn [{ json: { ...r, atualizacao } }];"
      },
      "id": "d1e2f3a4-0013-0013-0013-300000000013",
      "name": "Preparar Atualização D+2/D+5",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1720, 340]
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "value": "={{ $env.SHEETS_CANCELADOS_ID }}",
          "mode": "id"
        },
        "sheetName": {
          "value": "Cancelados",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": "={{ $json.atualizacao }}",
          "matchingColumns": ["whatsapp"],
          "schema": []
        },
        "options": {}
      },
      "id": "d1e2f3a4-0014-0014-0014-300000000014",
      "name": "Atualizar Sheets D+2/D+5",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.3,
      "position": [1960, 340]
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "value": "={{ $env.SHEETS_CANCELADOS_ID }}",
          "mode": "id"
        },
        "sheetName": {
          "value": "Cancelados",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "data_frio": "={{ new Date().toISOString().split('T')[0] }}",
            "fase_reativacao": "frio"
          },
          "matchingColumns": ["whatsapp"],
          "schema": []
        },
        "options": {}
      },
      "id": "d1e2f3a4-0015-0015-0015-300000000015",
      "name": "Marcar como Lead Frio",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.3,
      "position": [1240, 520],
      "notes": "D+7 sem resposta = lead frio. Não contatar mais por esta cadência. Pode entrar em lista de transmissão mensal."
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\"status\": \"ok\", \"mensagem\": \"Rodada de reativação iniciada.\", \"timestamp\": \"{{ new Date().toISOString() }}\"}",
        "options": {}
      },
      "id": "d1e2f3a4-0016-0016-0016-300000000016",
      "name": "Resposta Webhook OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1000, 100],
      "notes": "Retorna confirmação para Karine que a rodada foi iniciada."
    }
  ],
  "connections": {
    "Webhook — Karine Inicia Rodada": {
      "main": [
        [
          { "node": "Ler Aba Cancelados", "type": "main", "index": 0 },
          { "node": "Resposta Webhook OK", "type": "main", "index": 0 }
        ]
      ]
    },
    "Cron 9h — D+2 e D+5 Automático": {
      "main": [[{ "node": "Ler Aba Cancelados (cron)", "type": "main", "index": 0 }]]
    },
    "Ler Aba Cancelados": {
      "main": [[{ "node": "Filtrar D+0 Elegíveis", "type": "main", "index": 0 }]]
    },
    "Ler Aba Cancelados (cron)": {
      "main": [[{ "node": "Filtrar D+2 / D+5 / Frio", "type": "main", "index": 0 }]]
    },
    "Filtrar D+0 Elegíveis": {
      "main": [[{ "node": "Montar Mensagem D+0 por Segmento", "type": "main", "index": 0 }]]
    },
    "Filtrar D+2 / D+5 / Frio": {
      "main": [[{ "node": "É Follow-up ou Marcar Frio?", "type": "main", "index": 0 }]]
    },
    "Montar Mensagem D+0 por Segmento": {
      "main": [[{ "node": "Enviar WhatsApp D+0", "type": "main", "index": 0 }]]
    },
    "É Follow-up ou Marcar Frio?": {
      "main": [
        [{ "node": "Montar Mensagem D+2 ou D+5", "type": "main", "index": 0 }],
        [{ "node": "Marcar como Lead Frio", "type": "main", "index": 0 }]
      ]
    },
    "Montar Mensagem D+2 ou D+5": {
      "main": [[{ "node": "Enviar WhatsApp D+2 ou D+5", "type": "main", "index": 0 }]]
    },
    "Enviar WhatsApp D+0": {
      "main": [[{ "node": "Atualizar Sheets D+0", "type": "main", "index": 0 }]]
    },
    "Enviar WhatsApp D+2 ou D+5": {
      "main": [[{ "node": "Preparar Atualização D+2/D+5", "type": "main", "index": 0 }]]
    },
    "Preparar Atualização D+2/D+5": {
      "main": [[{ "node": "Atualizar Sheets D+2/D+5", "type": "main", "index": 0 }]]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "timezone": "America/Sao_Paulo"
  },
  "versionId": "d1e2f3a4-ffff-ffff-ffff-300000000001",
  "id": "reativacao-cancelados-sst-v1",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "sst-clinica"
  },
  "tags": [
    { "name": "sst" },
    { "name": "reativacao" },
    { "name": "automacao" }
  ],
  "_setup_notes": {
    "variaveis_necessarias": [
      "SHEETS_CANCELADOS_ID — ID da planilha Google Sheets com aba 'Cancelados'",
      "EVOLUTION_API_URL — URL base da Evolution API",
      "EVOLUTION_API_KEY — chave da Evolution API",
      "EVOLUTION_INSTANCE — nome da instância WhatsApp"
    ],
    "colunas_obrigatorias_sheets_aba_cancelados": [
      "nome_membro (texto)",
      "whatsapp (texto — formato: 5571XXXXXXXXX)",
      "motivo_cancelamento (texto: preco / falta_uso / sem_motivo / insatisfacao)",
      "segmento_reativacao (texto: A / B / C — Karine preenche antes de iniciar rodada)",
      "data_cancelamento (data)",
      "valor_devia (número — se saiu em débito)",
      "fase_reativacao (texto: vazio / D0 / D2 / D5 / frio — preenchido pelo workflow)",
      "D0_enviado (data)",
      "D2_enviado (data)",
      "D5_enviado (data)",
      "data_frio (data)",
      "nao_retorna (texto: TRUE para nunca mais contatar)",
      "reativado (texto: TRUE quando voltou)"
    ],
    "regras_segmentacao_karine": {
      "A": "Cancelou mencionando preço → ângulo: proposta de valor renovada",
      "B": "Cancelou sem usar muito → ângulo: ativar benefício latente",
      "C": "Cancelou sem explicar → ângulo: curiosidade + novidades",
      "ESCALAR": "Cancelou por insatisfação → não entra na automação, Rogério trata manualmente"
    },
    "fluxo_operacional": {
      "karine_prepara": "Preenche segmento_reativacao (A/B/C) na aba 'Cancelados' antes de chamar o webhook",
      "para_iniciar_d0": "Acessar URL: n8n.clinicalucrativa.ia.br/webhook/sst-reativacao-iniciar (POST, sem body)",
      "d2_d5_automatico": "Cron 9h verifica e dispara automaticamente — Karine não precisa fazer nada",
      "d3_ligacao": "SEMPRE MANUAL — Karine liga para quem viu D+0 mas não respondeu. Verificar no Chatwoot.",
      "encerrar_cadencia": "Marcar reativado=TRUE (voltou) ou nao_retorna=TRUE (não quer mais contato)"
    },
    "meta": "20 reativações por rodada | Taxa esperada ~17% | Contatar ~120 cancelados para bater a meta",
    "como_testar": [
      "1. Adicionar linha de teste na aba 'Cancelados' com seu WhatsApp, segmento=C, sem D0_enviado",
      "2. Fazer POST na URL do webhook via browser ou Insomnia",
      "3. Confirmar recebimento da mensagem no celular",
      "4. Verificar que D0_enviado e fase_reativacao foram preenchidos no Sheets"
    ]
  }
}
